<div class="content">
  <div id="container-controls" [formGroup]=form>
    <label for="slct">Rest URL del sistema:</label>
    <div class="select">
      <select name="slct" formControlName="entorno">
        <option selected disabled>Marca una opción gambitero!</option>
        <option value="https://igvpir.dev.xunta.local/rest/">IGVPIR DEV</option>
        <option value="https://igvpir.stg.xunta.local/rest/">IGVPIR STG</option>
        <option value="https://igvpir.xunta.gal/rest/">IGVPIR PRD</option>

        <option value="https://plavis-igvaut.dev.xunta.local/rest/">PLAVIS_IGVAUT DEV</option>
        <option value="https://plavis-igvaut.stg.xunta.local/rest/">PLAVIS_IGVAUT STG</option>
        <option value="https://plavis-igvaut.xunta.gal/rest/">PLAVIS_IGVAUT PRD</option>

        <option value="https://plavis-igvplavis.dev.xunta.local/rest/">PLAVIS_IGVPLAVIS DEV</option>
        <option value="https://plavis-igvplavis.stg.xunta.local/rest/">PLAVIS_IGVPLAVIS STG</option>
        <option value="https://plavis-igvplavis.xunta.gal/rest/">PLAVIS_IGVPLAVIS PRD</option>

        <option value="http://localhost:8080/plavis_igvxespat-rest/">PLAVIS_IGVXESPAT LOCAL</option>
        <option value="https://plavis-igvxespat.dev.xunta.local/rest/">PLAVIS_IGVXESPAT DEV</option>
        <option value="https://plavis-igvxespat.stg.xunta.local/rest/">PLAVIS_IGVXESPAT STG</option>
        <option value="https://plavis-igvxespat.xunta.gal/rest/">PLAVIS_IGVXESPAT PRD</option>

        <option value="https://plavis-igvcons.dev.xunta.local/rest/">PLAVIS_IGVCONS DEV</option>
        <option value="https://plavis-igvcons.stg.xunta.local/rest/">PLAVIS_IGVCONS STG</option>
        <option value="https://plavis-igvcons.xunta.gal/rest/">PLAVIS_IGVCONS PRD</option>

        <option value="https://plavis-igvinv.dev.xunta.local/rest/">PLAVIS_IGVINV DEV</option>
        <option value="https://plavis-igvinv.stg.xunta.local/rest/">PLAVIS_IGVINV STG</option>
        <option value="https://plavis-igvinv.xunta.gal/rest/">PLAVIS_IGVINV PRD</option>
      </select>
    </div>

    <div class="select">
      <select name="entityManager" formControlName="entityManager">
        <option *ngFor="let item of entityManagers" value="{{item}}">{{item}}</option>
      </select>
    </div>
  </div>

</div>

<div class="content" role="main">

  <!-- Terminal -->
  <div class="terminal-window" id="sentences">
    <header>
      <div class="button green"></div>
      <div class="button yellow"></div>
      <div class="button red"></div>
      <span>SQL</span>
    </header>
    <div class="terminal">
      <div style="text-align:center">
        <form [formGroup]="form">
          <textarea id="code" name="code" #myEditor>
          -- Establece tu código SQl Nativo en Oracle aquí
          -- El componente actúa como un editor SQL, aceptando sentencias multiples, mutilínea etc.
          -- IMPORTANTE: Cuidado con lo que se hace el AUTOCOMMIT está habilitado.
          -- TIP: Se dispone de autocompletado con ctrl-espacio para los nombres de tablas.
        </textarea>
        </form>
      </div>
    </div>
  </div>



  <div class="terminal-window" id="results">
    <header>
      <div class="button green"></div>
      <div class="button yellow"></div>
      <div class="button red"></div>
      <span>Resultados</span>
    </header>
    <section class="terminal">
      <div class="history"></div>
      $&nbsp;<span class="prompt"></span>
      <span class="typed-cursor"></span>

    </section>
  </div>
  <!-- data -->
  <div class="terminal-data mimik-run-output">
    <br>Found 1 feature<br>
    ----------------------------------------------<br>
    Feature: Bottles <span class="gray"># ./features/bottles.feature</span><br><br>

    &nbsp;&nbsp;Scenario: A bottle falls from the wall<br>
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="green">✓</span> <span class="gray">Given 100 green bottles are
      standing</span><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="green">✓</span> <span class="gray">when 1 green bottle accidentally
      falls</span><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="green">✓</span> <span class="gray">then there are 99 green bottles
      standing</span><br>
    <br>
    <span class="gray">&nbsp;---------- ----------- ------- -------- --------</span><br>
    &nbsp;&nbsp;Features&nbsp;&nbsp;&nbsp;Scenarios&nbsp;&nbsp;&nbsp;Steps&nbsp;&nbsp;&nbsp;Passed&nbsp;&nbsp;&nbsp;Failed<br>
    <span class="gray">&nbsp;---------- ----------- ------- -------- --------</span><br>
    &nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
      class="green">✓ 4</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0 <br>
    <br>
    &nbsp;&nbsp;Completed 1 feature in 0.01s<br>
    <br>
  </div>

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <span>Ejecutar SQL</span>
  </div>



  <router-outlet></router-outlet>